:root {
    --cyber-light-purple: #827cff;
    --small-font-color: #e3e3e3;
    --current-theme-color: rgb(18, 18, 18);
    --cyber-green: #1afe49;
    --container-gradient:  linear-gradient(1deg, rgb(70, 70, 70) 0%, rgb(60, 60, 60) 100%);
    --medium-font-color:  rgb(255, 200, 99);
    --red:  rgb(254, 108, 75);
}

:root.dark {
    --current-theme-color: rgb(18, 18, 18);
    --big-font-color:  rgb(254, 108, 75);
    --medium-font-color:  rgb(255, 200, 99);
    --small-font-color: #e3e3e3;
    --cyber-light-purple: #827cff;
    --cyber-green: #1afe49;

    --container-gradient:  linear-gradient(1deg, rgb(70, 70, 70) 0%, rgb(60, 60, 60) 100%);
    --container-bxs:  inset 10px 10px 70px rgba(5, 5, 5, 0.2);
    --page-background-color: rgb(31, 31, 31);
    --card-background-color: rgba(18, 18, 18, 0.382);
    --card-box-shadow:  inset 10px 10px 70px rgba(5, 5, 5, 0.2);
    --left-card-border:  rgb(14, 14, 14);
    --searchbar-bgc:  rgb(51, 51, 51);
    --searchbar-bxs:  inset 2px 2px 10px #232323;
    --searchbar-hover:  #575757;
    
}

:root.light {
    --current-theme-color: #ffc800;
    --big-font-color:  #272727;
    --medium-font-color:  #545454;
    --small-font-color: rgb(18, 18, 18);
    --cyber-light-purple: #453bff;
    --cyber-green: #00d24d;

    --container-gradient:  linear-gradient(1deg, rgb(248, 248, 248) 0%, rgb(245, 244, 244) 100%);    
    --container-bxs:  inset 10px 10px 70px rgba(227, 227, 227, 0.2);
    --page-background-color: #ffffff;
    --card-background-color: rgba(184, 184, 184, 0.382);;
    --card-box-shadow:  inset 10px 10px 70px rgba(147, 147, 147, 0.2);
    --left-card-border:  #4d4d4d;
    --searchbar-bgc:  #c4c4c4;
    --searchbar-bxs:  inset 2px 2px 10px #999999;
    --searchbar-hover:  #E6F4F1;
    
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Exo';
    background-color: var(--page-background-color);
}

a {
    text-decoration: none;
    color: inherit;
}

/* set sizing for SVG icons */
svg {
    height: 30px;
    width: 30px;
}

.svg-btn:hover,
a:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.container {
    display: grid;
    grid-template: 1fr 4fr / 250px 3fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    height: 100vh;
}

.sidebar {
    background: var(--container-gradient);
    grid-area: sidebar;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Exo', sans-serif;
    display: grid;
    grid-template-rows: auto auto auto;
    align-content: start;
    gap: 40px;
    box-shadow: var(--container-bxs);
    color: var(--medium-font-color);
}

.sidebar svg {
    fill: var(--medium-font-color);
}

.sidebar-header {
    font-size: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    color: var(--big-font-color);
}

/* align sidebar icons  */
.sidebar-group1 > a,
.sidebar-group2 > a {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 20px;
    align-items: center;
}

#dashboard-logo {
    height: 40px;
    width: 40px;
    fill: var(--big-font-color);
}

.sidebar > div {
    line-height: 3rem;
}

.header {
    border-radius: 10px;
    margin: 10px;
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background: var(--container-gradient);
    box-shadow:var(--container-bxs);
}

.top-row {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

.search-icon {
    fill: var(--medium-font-color);
}

#searchBar {
    width: clamp(200px, 40vw, 500px);
    height: 2rem;
    border-radius: 15px;
    text-indent: 10px;
    background-color: var(--searchbar-bgc);
    box-shadow: var(--searchbar-bxs);
    border-style: none;
}

#searchBar:focus,
#searchBar:hover {
    outline: none;
    background-color: var(--searchbar-hover);
}


.top-row-left{
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    gap: 10px;
    padding-left: 20px;
}

.top-row-right {
    display:inline-grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
}

.notifications-icon {
    fill: rgb(231, 231, 102);
}

.dark-theme {
    fill: var(--current-theme-color);
}

.dark-theme:hover {
    transform: scale(1.1);
    animation-duration: 1000ms;
    fill: var(--small-font-color);
    cursor:pointer;
}

.full-name {
    color: var(--medium-font-color);
}

.bottom-row {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 20px;
    align-items: center;
}

.bottom-row-left {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.welcome-icon {
    height: 80px;
    width: 80px;
    padding-left: 15px;
    fill: var(--medium-font-color);
}

.bottom-row-left div p {
    color: var(--medium-font-color);
}

/* font style for GitHub profile link in header */
.bottom-row-left > div > p > a {
    color: var(--cyber-light-purple);
    font-size: 1.1rem;
}

.bottom-row-right {
    display: grid;
    grid-template-columns: auto auto auto;
    align-self: end;
    gap: 20px;
    padding: 20px;
}

.bottom-row-right .svg-btn {
    fill: var(--cyber-light-purple);
}

.header-btns {
    width: 60px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 30px;
    border-style: none;
    cursor:pointer;
    background-color: var(--medium-font-color);
    color:  var(--page-background-color);
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr minmax(200px, 1fr);
    gap: 25px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background: var(--container-gradient);
    box-shadow: var(--container-bxs);
}

.main-titles {
    padding-bottom: 10px;
    font-size: 1.5rem;
    color: var(--big-font-color);
}

.main-left {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: grid;
    grid-template: repeat(auto-fit, minmax(190px, 1fr))/ repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.cards {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border-left: 10px solid var(--left-card-border);
}

/* Set background color and box shadow for all cards */
.cards,
.main-right-cards {
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
}

img {
    width: minmax(300px, 100%);
    height: auto;
    margin: 0px;
    padding: 0px;
    border-radius: 0px 10px 0px 0px;
}

.cards > div:nth-child(2) {
    padding: 10px 10px 5px 10px;
}

.cards > div:nth-child(3) {
    padding: 0px 10px 10px 10px;
}

.cards h2,
.cards h5 {
    padding: 0px;
    margin: 0px;
}

/* style card headers and icons */
.cards div {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* Font color style for project descripts */
.cards h5 {
    color: var(--small-font-color);
}

.repo {
    fill: var(--cyber-light-purple);
}

.live-link {
    fill: var(--cyber-green);
}

.main-right {
    height: 676px;
    display: grid;
    grid-template-rows: auto 1fr auto 1fr;
}

#trending-header {
    padding-top: 40px;
}

.announcements-card {
    grid-template-rows: auto;
}

/* Font color for card titles */
.announcements,
.trending,
.cards h2 {
    color: var(--medium-font-color);
}

.trending-card {
    grid-template-rows: auto;
}

.main-right-cards {
    border-radius: 10px;
    align-items: center;
    display: grid;
    padding: 10px;
}

.main-right-cards div {
    border-bottom: solid 1px gray;
    padding: 15px;
}

.main-right-cards div:last-child {
    border: none;
}

.main-right-cards > div > p {
    font-size: 0.8rem;
    color: var(--small-font-color);
    text-shadow: none;
}

